/* HEADER */
header {
    background-color: #1F2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}


a {
    color: #E5E7EB;
    text-decoration: none;
}


.hero-text {
    display: flex;
    flex-direction: column;
}


.hero {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;  
}


.secondary {
    font-size: 18px;
    color: #E5E7EB;
}



.placeholder {
    display: block;
    height: fill;
    background-color: rgb(117, 117, 127);
    padding: 40px;
}


.button {
    color: #F9FAF8;
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 30px;
}



.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}