* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Section 1 */
/* HEADER */
header {
    background-color: #1F2937;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 10px;
    margin-left: 100px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 60px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 100px;
}

.intro .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro .right {
    flex-shrink: 0;
    width: 50%;
}

.hero {
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8; 
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-family: "Roboto", sans-serif;
    height: 200px;
}

.placeholder {
    color: #E5E7EB;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}

/* Section 2 */
h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px 200px;
}

.outline {
    display: flex;
    flex-direction: column;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 25px;
    border: 5px solid #3882F6;
    border-radius: 20px; 
}

/* Section 3 */
.quote-section {
    background-color: #E5E7EB;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.quotee {
    margin-left: 500px;
}

/* Section 4 */
.container-2 {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px;
    margin: 50px;
}

.container-2 .left {
    display: flex;
    flex-direction: column;
}

.container-2 .right {
    margin-left: 240px;
}

.button {
    color: #F9FAF8;
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: #E5E7EB;
}